input {
  border-radius: 10px;
  background-color: #a3d65193;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 1px solid #000;
}
select {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #a3d65193;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

label {
  color: beige;
}
